<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "net.madran.mobilTest"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Mobil Test</name>

  <description>
      Mobil uygulama test
  </description>

  <author href="http://www.madran.net" email="volkanbykyilmaz@gmail.com">
     Volkan Büyükyılmaz
  </author>
    
  <icon src="icon.png" />

</widget>